[Unit]
After=NetworkManager.service time-sync.target

[Service]
Type=simple
User=<user>
ExecStart=/bin/sh -c ". /opt/ros/<your_ros_distro>/setup.sh;. /etc/ros/env.sh;. /home/<user>/<your_ws>/install/setup.sh; ros2 launch linorobot2_bringup bringup.launch.py joy:=true"

[Install]
WantedBy=multi-user.target
